.float-label {
  position: relative;
  label {
    position: absolute;
    bottom: 0;
    color: $gray;
    transition: 0.3s;
  }
  &.floating label {
    color: $primary;
    font-size: 0.7em;
    bottom: 2.4em;
  }
  input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"] {
    &.form-control:focus {
      box-shadow: none;
      position: relative;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $primary;
    left: 50%;
    right: 50%;
    transition: 0.3s;
  }

  &.active:before {
    left: 0;
    right: 0;
  }
}
