<div class="row">
  <div class="col-md-12">
    {% form_for vote_pledge %}  
    <div class="alert alert-warning">I'm not sure.</div>
    {{ page.vote_pledge.unsure_content }}
    {% hidden_field_tag "vote_pledge[will_vote_status]", 0 %}
    {% error_messages_for vote_pledge %}
    {% if request.logged_in? == true %}
    {% else %}
    {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
    <div class="form-group">
      <label for="vote_pledge_first_name">First Name</label>
      {% text_field "first_name", class:"form-control" %}
    </div>
    
    <div class="form-group">
      <label for="vote_pledge_last_name">Last Name</label>
      {% text_field "last_name", class:"form-control" %}
    </div>
    
    {% endif %}
    
    {% if request.sorta_logged_in? == false %}
    <div class="form-group">
      <label for="vote_pledge_email">Email</label>
      {% email_field "email", class:"form-control" %}
    </div>
    
    {% if site.ask_for_mobiles? %}
    <div class="form-group">
      <label for="vote_pledge_mobile_number">Mobile phone</label>
      {% phone_field "mobile_number", class:"form-control" %}
    </div>
    
    {% endif %}
    <div class="form-group"><div class="checkbox">
      <label for="vote_pledge_email_opt_in">
        {% check_box "email_opt_in", class:"checkbox" %} Send me email updates
      </label>
      </div>
    </div>
    
    {% if site.ask_for_mobiles? %}
    <div class="form-group"><div class="checkbox">
      <label for="vote_pledge_mobile_opt_in">
        {% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates
      </label>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    
    {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
    <div class="form-group">
      <label for="vote_pledge_submitted_address">Address</label>
      {% phone_field "submitted_address", class:"form-control" %}
    </div>
    {% endif %}
    
    {% if (request.sorta_logged_in? == false or request.current_signup.is_volunteer == false) and site.ask_for_volunteers? %}
    <div class="form-group"><div class="checkbox">
      <label for="vote_pledge_is_volunteer">
        {% check_box "is_volunteer", class:"checkbox" %} I want to volunteer
      </label>
      </div>
    </div>
    
    {% endif %}
    <div class="form-group"><label for="vote_pledge_content">Any questions we can answer?</label>
      {% text_area "content", class:"form-control" %}
    </div>
    
    {% if site.ask_to_publish_to_stream? %}
    <div class="form-group"><div class="checkbox">
      <label for="vote_pledge_is_private">
        {% check_box "is_private", class:"checkbox" %} Don't publish this on the website
      </label>
      </div>
    </div>
    {% endif %}
    <div class="form-group">{% submit_tag "Save my information", class:"btn btn-default btn-block" %}
    </div>
    
    {% endform_for %}
  </div>
</div>