<div class="panel content-panel">
  {% include "headline" %}
  {{ page.directory.content }}
  <div class="row">
    {% for signup in page.directory.listings %}
    <div class="col-md-6">
      {% include "signup_show" %}
    </div>
    {% endfor %}
  </div>

  <div class="text-center">
    <ul class="pagination">{% assign x = page.directory.listings | paginate, , '&laquo;', '&raquo;'  %}
      {% assign y = x  | replace:'<a','<li><a' | replace:'span','li' | replace:'class="current">','class="disabled"><a href="#">'%}
      {{ y | replace:'<div>','' | replace:'</div>','' | replace:'&nbsp;&nbsp;','' }}
      </ul>
      </div>

</div>
