<div class="panel content-panel">
  {{ page.survey.content }}
</div>
<div class="panel content-panel">

    {% if page.survey.is_responded? %}

    {% include "next_survey_question" %}

    {% elsif page.survey.is_next_question? %}

    {% form_for survey_response %}
    {% error_messages_for survey_response %}
    {% hidden_field_tag 'survey_question_response[survey_question_id]', page.survey.next_question.id %}

    <p class="lead">{{ page.survey.next_question.content }}</p>

    {% if page.survey.next_question.intro.size > 0 %}
    <p>{{ page.survey.next_question.intro | new_line_to_br }}</p>

    {% endif %}

    {% if page.survey.next_question.is_multiple_choice? %}
    {% for possible_response in page.survey.next_question.possible_responses %}
    <div class="form-group"><div class="radio">
      <label>
        {{ possible_response.radio_button }} {{ possible_response.name }}
      </label>
    </div>          </div>
    {% endfor %}
    {% elsif page.survey.next_question.is_yes_no? %}
    <div class="form-group"><div class="radio">
      <label>
        {{ page.survey.next_question.yes_radio_button }} Yes
      </label>
    </div>        </div>
    <div class="form-group"><div class="radio">
      <label>
        {{ page.survey.next_question.no_radio_button }} No
      </label>
    </div></div>
    {% elsif page.survey.next_question.is_text? %}
    <div class="form-group">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_content"></label>
      {% text_area "content", class:"form-control" %}
    </div>
    {% endif %}



    {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
    <div class="form-group float-label">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_first_name">First Name</label>
      {% text_field "first_name", class:"form-control" %}
    </div>
    <div class="form-group float-label">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_last_name">Last Name</label>
      {% text_field "last_name", class:"form-control" %}
    </div>
    {% endif %}

    {% if request.sorta_logged_in? == false %}
    <div class="form-group float-label">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_email">Email</label>
      {% email_field "email", class:"form-control" %}
    </div>
    <div class="form-group"><div class="checkbox">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_email_opt_in">
        {% check_box "email_opt_in", class:"checkbox" %} Send me email updates
      </label>
    </div></div>


    {% if site.ask_for_mobiles? %}
    <div class="form-group float-label">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_mobile_number">Phone Number</label>
      {% phone_field "mobile_number", class:"form-control" %}
    </div>

    <div class="form-group"><div class="checkbox">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_mobile_opt_in">
        {% check_box "mobile_opt_in", class:"checkbox" %} Send me text messages
      </label>
    </div></div>
    {% endif %}

    {% endif %}


    {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
    <div class="form-group float-label">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_submitted_address">Address</label>
      {% text_field "submitted_address", class:"form-control" %}
    </div>  {% endif %}

    {% if page.survey.is_volunteers? and site.ask_for_volunteers? %}
    {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
    <div class="form-group"><div class="checkbox">
      <label for="{{ request.template | remove:'pages_show_' | remove:'_wide' }}_is_volunteer">
        {% check_box "is_volunteer", class:"checkbox" %} I want to volunteer
      </label>
    </div></div>

    {% endif %}
    {% endif %}



    <div class="form-group">
      {% submit_tag "Next question", class:"btn btn-block btn-primary" %}

    </div>

    {% endform_for %}

    {% else %}
    <p>This survey has no published questions.</p>
    {% endif %}

</div>
