<div class="panel content-panel">

    {% if page.vote_pledge.is_pledged? %}

    <h3>You {% if page.vote_pledge.current_vote_pledge.is_no? %} pledged not {% elsif page.vote_pledge.current_vote_pledge.is_unsure? %} said you were not sure whether {% elsif page.vote_pledge.current_vote_pledge.is_yes? %} pledged {% endif %} to {% if page.vote_pledge.current_vote_pledge.could_vote? %} vote for {% else %} support {% endif %} {{ site.candidate_first_name_or_site_name }}.</h3>
    <p>{{ page.vote_pledge.current_vote_pledge | delete_link message: "Click here to change your pledge" }}</p>

    {% else %}
    {% form_for vote_pledge %}
    {% error_messages_for vote_pledge %}

    <p class="lead">Are you planning on voting for {{ site.candidate_first_name_or_site_name }}?</p>

    <div class="row" id="vote_pledge_form">
      <div class="col-sm-4">
        <a href="{{ page.vote_pledge.yes_url }}" class="get btn btn-block btn-primary">Yes</a>

      </div>
      <div class="col-sm-4">
        <a href="{{ page.vote_pledge.unsure_url }}" class="get btn btn-block btn-warning">Maybe</a>
      </div>
      <div class="col-sm-4">
        <a href="{{ page.vote_pledge.no_url }}"class="get btn btn-block btn-danger">No</a>
      </div>
    </div>

    {% endform_for %}
    {% endif %}

</div>




<div class="panel content-panel">
    {% if page.vote_pledge.has_yes_goal? %}
    <p class="lead">We're {{ page.vote_pledge.percent_of_yes_goal |times: 100}}% to our goal!</p>

    <div class="progress progress-striped">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ page.vote_pledge.yes_votes_count }}" aria-valuemin="0" aria-valuemax="{{ page.vote_pledge.yes_goal  }}" style="width: {{ page.vote_pledge.percent_of_yes_goal |times: 100}}%;">
        <span class="sr-only">{{ page.vote_pledge.percent_of_yes_goal |times: 100}}% complete</span>
      </div>
    </div>

    {% endif %}

    {{ page.vote_pledge.content }}

</div>

